{
  "rules": {
    "color-hex-case": "lower",
    "color-named": ["never", { ignore: ["inside-function"] }],
    "font-family-no-duplicate-names": true,
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "string-quotes": "single",
    "length-zero-no-unit": true,
    "unit-case": "lower",
    "unit-no-unknown": true,
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true,
    "value-list-comma-space-after": "always-single-line",
    "property-case": "lower",
    "property-no-unknown": true,
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-space-before": "never",
    "block-closing-brace-empty-line-before": "never",
    "block-closing-brace-newline-after": ["always", { ignoreAtRules: ["if", "else"] }],
    "block-closing-brace-newline-before": "always",
    "block-opening-brace-newline-after": "always",
    "selector-attribute-brackets-space-inside": "never",
    "selector-attribute-quotes": "always",
    "selector-max-compound-selectors": 4,
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-element-case": "lower",
    "selector-max-empty-lines": 0,
    "selector-list-comma-newline-after": "always",
    "rule-empty-line-before": ["always", { except: ["first-nested"], ignore: ["after-comment", "inside-block"] }],
    "comment-whitespace-inside": "always",
    "indentation": 4,
    "max-empty-lines": 2,
    "max-nesting-depth": 3
  }
}
